#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  # authors may unpublish items by setting meta attribute publish: false
  items.delete_if { |item| item[:publish] == false }
  copy_static
end


### Images
compile '/images/*/' do
# No need to run images through a filter. This is just for getting them in right place
end

route '/images/*/' do
 item.identifier.chop + '.' + item[:extension]
end

### Javascript

compile '/javascript/*/' do
# No need to run images through a filter. This is just for getting them in right place
end

route '/javascript/*/' do
 item.identifier.chop + '.' + item[:extension]
end

### Stylesheets

compile '/stylesheets/*/' do
  # No need to run css through a filter. This is just for getting them in the right place
end

route '/stylesheets/*/' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.css'
end

### HTML

compile '/docs/*/' do
  case item[:extension]
    when 'html'
      filter :erb
    when 'html.erb'
      filter :erb
    when 'haml'
      filter :haml
    when 'html.haml'
      filter :haml
    when 'markdown'
      filter :kramdown
  end
  filter :syntax_colorize
  layout 'docs'
end

compile '/docs/' do
  case item[:extension]
    when 'html'
      filter :erb
    when 'html.erb'
      filter :erb
    when 'haml'
      filter :haml
    when 'html.haml'
      filter :haml
    when 'markdown'
      filter :kramdown
  end
  filter :syntax_colorize
  layout 'docs'
end

compile '*' do
  case item[:extension]
    when 'html'
      filter :erb
    when 'html.erb'
      filter :erb
    when 'haml'
      filter :haml
    when 'html.haml'
      filter :haml
    when 'markdown'
      filter :kramdown
  end
  filter :syntax_colorize
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
