html, body { background: #ececec; margin: 0; height: 100%; padding: 0; }
* { color: #25020f; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; text-shadow: 0 -1px 1px #fff; }

h1, h2 { margin: 0; text-align: center; }
h1 { font-size: 65px; font-weight: lighter; margin-bottom: 10px; }
h2 { font-size: 12px; text-transform: uppercase; }

a:link, a:visited { border-radius: 3px; color: #9e1e4c; display: inline-block; padding: 2px; margin: -2px; text-decoration: none; }
a:hover, a:focus, a:active { background: #ff1168; color: #25020f; color: #ececec; text-shadow: 0 -1px 1px #ff3188; }

.container { margin: 0 auto; width: 800px; }
.clear { clear: both; }

#header { border-top: 3px solid #9e1e4c; padding: 47px 0 75px; }

#content {}
#content ul { list-style: none; padding: 0; margin-top: 100px; }
#content ul li { float: left; padding: 25px 100px; text-align: center; width: 200px; }
/*#content ul li:nth-child(2n) { text-align: left; }
#content ul li:nth-child(2n+1) { text-align: right; }*/
#content ul li a { font-size: 20px; font-weight: bold; line-height: 20px; padding: 5px 5px 7px; margin: -5px -5px -7px; }

#footer { font-size: 11px; padding: 125px 0 20px; text-align: center; }
