<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Scarlet | <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/code.css">
</head>

<body>
    <div id="header">
        <div class="container">
            <h1><a href="/">Scarlet</a></h1>
            <h2>An open-source PHP framework</h2>
            
            <%= render "navigation", :current_page => "docs" %>
        </div>
    </div>
    
    
    <div id="subheader">
        <div class="container">
            <h3><a href="/docs/">Documentation</a> <span class="sep">&raquo;</span> <%= @item[:title] %></h3>
        </div>
    </div>
    
    
    <div class="container">
        <div id="content">
            <%= yield %>
        </div>
        
        <div id="sidebar">
            <%= render @item[:sidebar] %>
        </div>
        
        <div class="clear"></div>
    </div>
    
    
    <div id="footer">
        <div class="container">
            <p>
                Copyright &copy; <a href="http://mattkirman.com/">Matt Kirman</a> 2010.<br />
                <a href="http://scarlet-framework.com/">Scarlet</a> is released under the
                <a href="http://www.opensource.org/licenses/gpl-2.0.php" target="_blank">GLPv2 Licence</a>.
            </p>
        </div>
    </div>
</body>
</html>
