pre {
  font: 12px "Bitstream Vera Sans Mono", Courier, monospace;
  background-color: #232323;
  border: 1px solid black;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  margin: 0px 0 26px;
  text-shadow: 0;
}
pre.no-margin-top { margin-top: -19px; }
pre.no-margin { margin-bottom: 7px; margin-top: -19px; }

pre * {
  font: 12px "Bitstream Vera Sans Mono", Courier, monospace;
}

pre .an { color:#E7BE69 }                      /* html attribute */
pre .c  { color:#BC9358; font-style: italic; } /* comment */
pre .ch { color:#509E4F }                      /* escaped character */
pre .cl { color:#FFF }                         /* class */
pre .co { color:#FFF }                         /* constant */
pre .fl { color:#A4C260 }                      /* float */
pre .fu { color:#FFC56D }                      /* function */
pre .gv { color:#D0CFFE }                      /* global variable */
pre .i  { color:#A4C260 }                      /* integer */
pre .il { background:#151515 }                 /* inline code */
pre .iv { color:#D0CFFE }                      /* instance variable */
pre .pp { color:#E7BE69 }                      /* doctype */
pre .r  { color:#CB7832 }                      /* keyword */
pre .rx { color:#A4C260 }                      /* regex */
pre .s  { color:#A4C260 }                      /* string */
pre .sy { color:#6C9CBD }                      /* symbol */
pre .ta { color:#E7BE69 }                      /* html tag */
pre .pc { color:#6C9CBD }                      /* boolean */